@page "/Account/AccessDenied"
@layout MainLayout

<h2>Not Authorize</h2>
<p>You do not have the appropriate permissions to view this page..</p>
<MudButton Color="Color.Info" href="/">Main page</MudButton>